body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffffff; /* White background */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center; /* Center content */
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.authors, .university {
    font-style: italic;
    color: #555;
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px 5px; /* Spacing around buttons */
    font-size: 0.9em; /* Smaller font size for buttons */
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    text-align: left;
}

.teaser-image {
    width: 40%;
    margin-right: 20px;
}

.abstract {
    font-size: 0.9em;
    color: #444;
}
