body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffffff; /* White background */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center; /* Center content */
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.authors, .university {
    font-style: italic;
    color: #555;
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px 5px; /* Spacing around buttons */
    font-size: 0.9em; /* Smaller font size for buttons */
}

.content {
    display: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    text-align: justify;
}

.abstract {
    font-size: 1.2em;
    color: #444;
}

.section {
    text-align: center; /* Centers everything in the section */
    margin: 40px 0; /* Adds spacing around the section */
}

.subtitle {
    font-size: 1.5em; /* Larger font size for the subtitle */
    color: #333; /* Subtitle color */
    margin-bottom: 20px; /* Spacing below the subtitle */
}

video {
    display: block;        /* Use block display for enabling margin auto */
    width: 90%;            /* Responsive width */
    max-width: 1200px;     /* Maximum width */
    height: auto;          /* Maintain aspect ratio */
    border: 5px solid #ddd; /* Optional border */
    border-radius: 8px;    /* Optional border radius */
    margin-left: auto;     /* Auto margin on the left */
    margin-right: auto;    /* Auto margin on the right */
}


.teaser-image {
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
    height: auto;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.bibtex-heading {
    margin-left: 20px; /* Or any other value for alignment */
    text-align: left;
    /* Additional styling for the heading if needed */
}

.bibtex-section {
    background-color: #f8f8f8; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    padding-left: 0px; /* Padding inside the container */
    margin: 5px 5; /* Margin above and below the section */
    text-align: left; /* Ensures content is aligned to the left */
    margin-bottom: 50px;
}

.bibtex-section pre {
    margin: 10px;
    padding-left: 0px;
    margin-left: 0px;
    white-space: pre-wrap; /* Ensures that data is wrapped within the container */
    word-wrap: break-word; /* Breaks the text onto the next line if needed */
    overflow-x: auto; /* Adds a horizontal scrollbar if the content is too wide */
    font-family: monospace; /* Typically BibTeX entries are displayed in a monospace font */
}